

<p><strong>Your bookings</strong></p>
<ul class="list-group">
  <% @user.bookings.each do |booking| %>
    <li class="list-group-item"><%= booking.player.full_name %></li>
     <li class="list-group-item"><%= booking.date %></li>
  <% end %>
</ul>

<br>

<p><strong>Bookings you need to confirm</strong></p>
<ul class="list-group">
  <% @user.players.each do |player| %>
  <% if player.bookings.empty? %>
     <% else %>
    <li class="list-group-item"><%= player.full_name %></li>
     <% player.bookings.each do |booking|%>
        <%= booking.date %>
        <%= button_to "#{booking.confirmed}", player_booking_path(player, booking), method: :patch %>
    <% end %>
   <% end %>
   <% end %>
</ul>
