
<div class="container-fluid text-left bg-light-grey m-0 p-0">
<h1 class=" p-2 pb-5 text-center name">Bookings</h1>
</div>


<div class="container-fluid bg-white p-3">

    <div class="content p-3">
        <div class="card-products">
          <% @user.bookings.each do |booking| %>


            <div class="card-product">
            <%= link_to player_path(booking.player), class:"text-decoration-none" do%>
                <%= cl_image_tag booking.player.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face %>
                <div class="card-product-infos">
                <h2> <%= booking.player.full_name%></h2>
                <p><%= booking.date %></p>
               <%= link_to "Cancel the booking", player_booking_path(booking.player, booking), class:"text-decoration-none link-dark", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                </div>
              <% end %>
            </div>
      <% end %>
    </div>

    <div class="container-fluid">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

   </div>
</div>
