<!-- app/views/settings/index.html.erb -->
<h1>Settings</h1>

<%= simple_form_for current_user do |form| %>
  <!-- Avatar -->
  <div class="form-group">
    <%= form.input :photo, as: :file, accept: 'image/png, image/jpeg', label: "Avatar" %>
  </div>

  <!-- Full Name -->
  <div class="form-group">
    <%= form.input :full_name, label: "Full Name" %>
  </div>

  <!-- Phone Number -->
  <div class="form-group">
    <%= form.input :phone_number, label: "Phone Number" %>
  </div>

  <%= form.button :submit, "Save Changes", class: "btn btn-primary" %>
<% end %>
