
    <h1>Edit <%= @player.full_name %></h1>
    <%= simple_form_for(@player) do |f| %>
      <%= f.input :full_name %>
      <%= f.input :position %>
      <%= f.input :nationality %>
      <%= f.input :location %>
      <%= f.input :height %>
      <%= f.input :age %>
      <%= f.input :last_club %>
      <%= f.input :price %>
      <%= f.submit "Update Player" %>
    <% end %>
