<div class="container-index"
  style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://img.freepik.com/free-vector/gradient-style-football-field-background_23-2148995842.jpg)">
  <div class="container">


        <h1 class="p-3">All Players</h1>

    <div class="container p-3">

      <div class="content p-3">
        <div class="cards">
          <% @players.each do |player| %>
            <div class="card" style="width: 18rem;">
              <%= cl_image_tag player.photo.key, width: 150, height: 150 %>
                <div class="card-body">
                  <h2 class="card-title"><%= player.full_name%></h2>
                  <p class="card-text"><%= player.price.to_fs(:currency, round_mode: :down)%></p>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>


      <%# <tbody>
        <tr>
        <% i = 1 %>
      <%# <% @players.each do |player| %>
          <%# <th scope="row"><%= i %>
          <%# <td><%= link_to player.full_name, player_path(player) %>
          <%# <td><%= player.position%>
          <%# <td><%= player.price.to_fs(:currency, round_mode: :down)%>
          <%# <% i+=1 %>
        <%# </tr>
        <% end %>
      <%# </tbody>
    </table> %>
  </div>
</div>
