

<div class="container text-center mt-2">
<h1 class="p-3"><%= @player.full_name %></h1>

<div class="container text-center mt-2">
  <div class="row">
    <div class="col">
       <%= cl_image_tag @player.photo.key, height: 300, width: 400, crop: :fill %>

    </div>
    <div class="col">
   <table class="table">
        <tbody>
          <tr>
            <th scope="row">Position</th>
            <td><%= @player.position %></td>
          </tr>
          <tr>
            <th scope="row">Nationality</th>
            <td><%= @player.nationality %></td>
          </tr>
          <tr>
            <th scope="row">Location</th>
            <td><%= @player.location %></td>
          </tr>
          <tr>
            <th scope="row">Height</th>
            <td><%= @player.height %></td>
          </tr>
          <tr>
            <th scope="row">Age</th>
            <td><%= @player.age %></td>
          </tr>
          <tr>
            <th scope="row">Last Club</th>
            <td><%= @player.last_club %></td>
          </tr>
          <tr>
            <th scope="row">Market Price</th>
            <td><%= @player.price.to_fs(:currency, round_mode: :down) %></td>
          </tr>
        </tbody>
      </table>
        <div class="content">
      </div>
    </div>

  </div>
</div>

<div class="container text-center">
  <div class="row justify-content-md-center">
  <div class="col-1">

    </div>
    <div class="col-4">

<br>
<div class="card">
  <div class="card-body">
  <p>Request the player now</p>
    <%= simple_form_for [@player, Booking.new] do |f| %>
    <%= f.input :date, :collection => 2024..2030, label:"Season"%>
    <%= f.submit "Submit", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>

</div>
 <div class="col-2">

    </div>

<div class="col-4">

Current bookings for this player
<ul class="list-group">
  <% @player.bookings.each do |booking| %>
  <%if booking.confirmed%>
        <li class="list-group-item"><%= booking.date %> Confirmed booking</li>
  <% else %>
  <li class="list-group-item disabled" aria-disabled="true"><%= booking.date %> Pending Confirmation</li>
  <% end %>
      <% end %>
</ul>


</div>
 <div class="col-1">

    </div>
</div>
